@mixin icon-image{
	left:7px;
}

.wrap{
	padding-right:10px;
	padding-left:10px;
	max-width:1115px;
}

.button{
	padding-right:9px;
	span{
		display:block;
	}
	&:before{
		@include icon-image;
	}
	&--select{
		padding-right:28px;
		&__text{
			&:before{
				@include icon-image;
			}
		}
		&__arrow,&__toggle{
			background-color:transparent;
			width:25px;
		}
	}
}

.no-1030{
	display:none !important;
}