.tool-link{
	padding-right: 10px;
	padding-left: 39px;
    border:none;
    span{display:block;}
    
    &:before{
    	left:14px;
    }

    &--share{
    	padding-left:42px;
    	&:before{
    		left: 10px;
    	}
    }
}

