/******************************************************************
Site Name: Whiteboard-cc
Author: Rohan Milton

Stylesheet: Laptop & Desktop Screen stylesheet

These Styles should be applied to screens 768px and above only

******************************************************************/

$toolbar-height : 50px;

// Toolbar Header
.toolbar{
	position:fixed;
	top:0;
	left:0;
	right:0;
	display:block;
	text-align: center;
	height: $toolbar-height;
	background-color: $spring-wood;
	@include box-shadow(1);

	// container for Color & Undo buttons
	&__controls{
		position:absolute;
		left:0
	}

	// container for Share, Username and change URL buttons
	&__share{
		position:absolute;
		right:0;
		top:0;
		height:100%;
	}

	// traditional-looking toolbar button. Does not take up full height of toolbar
	$button-height: $toolbar-height - 14px;
	&__button{
		display:inline-block;
		height: $button-height;
		border: 1px solid $ebb;
		vertical-align: top;
		margin-top: ($toolbar-height - $button-height) / 2;
		margin-left: 10px;
		padding: 8px 9px 9px 35px;
		position:relative;
		text-transform:uppercase;
		font-size:12px;
		color: $grey;
		@include button;
		@include border-radius;
		box-sizing: border-box;

		// background image is assigned to pseudo element to its opacity can be controlled
		&:before{
			background-position: 50% 50%;
			background-repeat:no-repeat;
			background-size:100%;
			width: 18px;
			height:18px;
			content:"";
			position:absolute;
			left:9px;
			opacity:0.34;
		}

		&--undo:before{
			background-image: url('images/icon-arrow-round.png');
		}
		&--clear:before{
			background-image: url('images/icon-cross.png');
		}

		// button with no icon - just solid color;
		&--filled{
			width: 58px;
			background-color:green;
		}

		// button with dropdown menu
		&--dropdown{
			padding-right:28px;

			//arrow to toggle dropdown menu
			&__toggle{
				position:absolute;
				right:0px;
				top:50%;
				transform: translate(0,-50%);
				width:25px;
				height:100%;
				display:inline-block;
				opacity:0.63;
				background: url('images/icon-arrow-down.png') 50% 50% no-repeat;
				&:hover{
					background-color:$ebb;
					opacity:1;
				}
			}
		}
		
		// when hover on toolbar button
		&:hover{
			border-color: darken($ebb,10%);
			color: darken($grey,25%);
			&:before {
				opacity:0.7;
			}
		}

	}

	// Full height toolbar item. 
	&__item{
		color:$grey;
		padding:15px 15px 0 40px;
		font-size:14px;
		display:inline-block;
		@include button;
		height:100%;
		position:relative;

		&:hover{
			//background-color: darken($spring-wood,2%);
			color:darken($grey,15%);
			&:before{
				opacity:0.9;
			}
		}

		// background image is assigned to pseudo element to its opacity can be controlled
		&:before{
			background-position:0px 50%;
			background-repeat:no-repeat;
			background-size:20px;
			content:"";
			width:20px;
			height:100%;
			position:absolute;
			left:14px;
			top:0;
			opacity:0.35;
		}

		// change url toolbaritem
		&--url-change:before{
			background-image: url('images/icon-chain.png');
		}

		// change name toolbar item
		&--name:before{
			background-image: url('images/icon-person.png');
		}

		// invite/share toolbar item
		&--share{
			//background-color: #EBE8E8;
			// color:$bright;
			&:before{
				background-image: url('images/icon-share.png');
			}
			// &:hover{
			// 	background-color:  darken($ebb,7%);
			// }
		}
	}
}

.main{
	margin-top:$toolbar-height;
	height: calc(100% - #{$toolbar-height});
}

// list of modes (pen, line, rectangle etc)
.mode-list{
	height:100%;
	display:inline-block;
	margin:0;
	background-color:#FAF8F7;
	// mode button
	&__item{
		@include button;
		display:inline-block;
		width:70px;
		height:100%;
		background-repeat:no-repeat;
		background-position:50% 0px;
		opacity:0.5;
		background-size:33px;
		&--pen{
			background-image: url('/images/icon-pen.png');
		}
		&--line{
			background-image: url('/images/icon-line.png');
		}
		&--rect{
			background-image: url('/images/icon-rect.png');
		}
		&--text{
			background-image: url('/images/icon-text.png');
		}

		&:hover:not(.is-active){
			opacity:0.8;
		}

		// Since each icon contains both the unhilighted and highlighted stacked on top
		// of each other, we can highlight a button simply by changing background position
		&.is-active{
			background-position:50% -50px;
			opacity:1;
			border-bottom: 2px solid lighten($green-pea,30%);
			//background-color:#e5e5e5;
		}
	}
}

// whiteboard navigation
.nav-list{
	margin-top:15px;
	counter-reset: section;
    list-style-type: none;
	li{
		position:relative;
		display:inline-block;
		width:174px;
		height:111px;
		background-color:#fff;
		margin-right:7px;
		border: 2px solid transparent;
		vertical-align: top;
		@include button;
		&:before{
			counter-increment: section;
    		content: counters(section,".") " ";
    		font-size:42px;
    		line-height:111px;
    		text-align:center;
    		position:absolute;
    		left:0;top:0;right:0;bottom:0;
    		color:$grey;
    		//color:#667080;
		}
		&:last-child:before{
			content:"+";
			font-size:52px;
		}
		&.is-active{
			border-color:$bright;
		}
	}

	&__whiteboard{
		width:100%;
	}
}

