/******************************************************************
Site Name: Whiteboard-cc
Author: Rohan Milton

Stylesheet: Base Mobile Stylesheet

Mobile Styles and foundation for Whiteboard App

******************************************************************/

html{
	font-family: 'Open Sans', 'Arial', sans-serif;
}

html,body,#whiteboard-app,#container{
	height:100%;
}

body{
	background-color: $ebb;
}

.toolbar{
	display:none;
}
