/******************************************************************
Site Name: Whiteboard-cc
Author: Rohan Milton

Stylesheet: Base Mobile Stylesheet

Mobile Styles and foundation for Whiteboard App

******************************************************************/

html{
	font-family: 'Open Sans', 'Arial', sans-serif;
}

//hide images without src
img {
	display: none;
}
img[src] {
	display: block;
}

html,body,#whiteboard-app,#container{
//	height:100%;
}

body{
	background-color: $ebb;
}

a,a:visited{
    background: transparent;
    border: none;
    text-decoration: none;
    color: $grey;
    border-bottom: 1px solid lighten($bright,15%);
    padding-bottom: 1px;
}

.toolbar{
	display:none;
}

.wrap{
	position:relative;
	height:100%;
	margin: 0 auto;
}

.whiteboard{
	
}

.main-board{
	position:relative;
	background-color:#fff;
	padding-bottom:62.83%;
	width:100%;
}


.canvas-cont{
	position:absolute;
	top:0;left:0;bottom:0;right:0;
	&__drawing-canvas{
		position:absolute;
		width:100%;
		height:100%;
		z-index:10;
		left:0;
		top:0;
		cursor: crosshair;
		cursor: url(images/crosshair-pencil.png) 10 10, crosshair;
	}
}

.display-canvas{
	width:100%;
	height:100%;
}

.cursors{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	&__pointer{
		pointer-events:none;
		position:absolute;
		color:#fff;
		padding:4px 10px;
		font-size:13px;
		z-index:14;
		@include box_shadow(4);
		@include bord_rad;
		&--own{
			transform: translate(20px,20px);
		}
	}
}

.image-collection{
	position:absolute;
	width: 100%;
	height: 100%;
	&__image{
		position:absolute;
		left:0;top:0;
		width:100%;
		height:100%;
	}
}

input{
	outline: none;
	border: 1px solid #ccc;
	height:2em;
}

.alert{
	position: fixed;
	z-index: 30;
	pointer-events:none;
    top: 50%;
    height: 83px;
    width: 100%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 37px;
    background: linear-gradient(-90deg, rgba(6,6,6,0.05) 6%, rgba(70,70,70,0.50) 26%, rgba(69,72,71,0.81) 42%, rgba(68,75,73,0.80) 60%, rgba(67,77,73,0.50) 75%, rgba(0,0,0,0.05) 97%);
}

.spinner{
    background: url(images/icon-pen.png) 50% -6px;
    margin-top:-16.5px;
    margin-left:-16.5px;
    width: 33px;
    height: 33px;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: 33px;
    @include spin-anim(1000ms);
}

.label{
	display:block;
	text-align: left;
	color:$grey;
	display:block;
	font-size:15px;
	&--link{
		padding-right:20px;
		margin-bottom:15px;
	}
	&--success, &--error{
		text-align:center;
		width:100%;
		color:#fff;
	}
	&--success{
		background-color: darken($bright,8%);
	}
	&--error{
		background-color: $grenadier;
	}
}

$text-submit-width: 60px;
.text{
	height:32px;
	&__input{
		height:100%;
		width: calc(100% - #{$text-submit-width});
		padding:4px 8px;
		text-align:center;
		font-size:14px;
		border-right:0;
		@include bord_rad_left;
	}
	&__submit{
		width: $text-submit-width;
		display:inline-block;
		background-color:$bright;
		height:100%;
		color:#fff;
		font-size:14px;
		vertical-align: top;
		line-height:32px;
		@include button;
		@include bord_rad_right;
		&:hover{
			background-color:darken($bright,10%);
		}
		&:active{
			background-color:lighten($bright,5%);
		}
	}
}