/******************************************************************
Site Name: Whiteboard-cc
Author: Rohan Milton

Stylesheet: Base Mobile Stylesheet

Mobile Styles and foundation for Whiteboard App

******************************************************************/

html{
	font-family: 'Open Sans', 'Arial', sans-serif;
}

html,body,#whiteboard-app,#container{
//	height:100%;
}

body{
	background-color: $ebb;
}

.toolbar{
	display:none;
}

.wrap{
	width:1095px;
	margin: 0 auto;
	padding-top:25px;
}

.whiteboard{
	
}

.main-board{
	position:relative;
	background-color:#fff;
	height:688px;
	width:100%;
	&__canvas,
	&__list{
		position:absolute;
		top:0;left:0;
		width:100%;
		height:100%;
	}
	&__canvas{
		z-index:5;
	}
	&__list li{
		width: 100%;
		height: 100%;
	}
	&__image{
		height:100%;
		width:100%;
	}
}
