/******************************************************************
Site Name: Whiteboard-cc
Author: Rohan Milton

Stylesheet: Base Mobile Stylesheet

Mobile Styles and foundation for Whiteboard App

******************************************************************/

html{
	font-family: 'Open Sans', 'Arial', sans-serif;
}

//hide images without src
img {
	display: none;
}
img[src] {
	display: block;
}

html,body,#whiteboard-app,#container{
//	height:100%;
}

body{
	background-color: $ebb;
}

.toolbar{
	display:none;
}

.wrap{
	width:1095px;
	margin: 0 auto;
	padding-top:25px;
}

.whiteboard{
	
}

.main-board{
	position:relative;
	background-color:#fff;
	height:688px;
	width:100%;
	&__canvas,
	&__list{
		position:absolute;
		top:0;left:0;
		width:100%;
		height:100%;
	}
	&__canvas{
		z-index:10;
		//cursor: crosshair;
		cursor: url(images/crosshair-pencil.png) 10 10, crosshair;
	}
	&__list li{
		width: 100%;
		height: 100%;
	}
	&__image{
		height:100%;
		width:100%;
		position:absolute;
		top:0;left:0;
	}
}

.display-canvas{
	width:100%;
	height:100%;
}

.cursors{
	position:absolute;
	width:100%;
	height:100%;
	//z-index:10;
	&__pointer{
		position:absolute;
		color:#fff;
		padding:4px 10px;
		font-size:13px;
		@include box_shadow(4);
		@include border-radius;
		&--own{
			transform: translate(20px,20px);
		}
	}
}

.image-collection{
	position:absolute;
	width: 100%;
	height: 100%;
	&__image{
		position:absolute;
		left:0;top:0;
		width:100%;
		height:100%;
	}
}

input{
	@include border-radius;
	outline: none;
	border: 1px solid #ccc;
	height:2em;
}

.alert{
	position: fixed;
    top: 50%;
    height: 83px;
    width: 100%;
    background-color: black;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
    padding: 13px;
    font-size: 37px;
    background: linear-gradient(-90deg, rgba(6,6,6,0.05) 6%, rgba(70,70,70,0.50) 26%, rgba(69,72,71,0.81) 42%, rgba(68,75,73,0.80) 60%, rgba(67,77,73,0.50) 75%, rgba(0,0,0,0.05) 97%);
}
