/******************************************************************
Site Name: Whiteboard-cc
Author: Rohan Milton

Stylesheet: Base Mobile Stylesheet

Mobile Styles and foundation for Whiteboard App

******************************************************************/

html{
	font-family: 'Open Sans', 'Arial', sans-serif;
}

html, body {
	overflow: hidden;
}

body{
	background-color: $ebb;
	position: relative
}

html,body,#whiteboard-app,#container{
	height:100%;
}

a,a:visited{
    background: transparent;
    border: none;
    text-decoration: none;
    color: $grey;
    border-bottom: 1px solid lighten($bright,15%);
    padding-bottom: 1px;
}

.toolbar{
	display:none;
}

.main{
	padding-top:2px;
}

.wrap{
	position:relative;
	height:100%;
	padding: 0 2px;
	margin: 0 auto;
}


.main-board{
	position:relative;
	background-color:#fff;
	padding-bottom:62.83%;
	width:100%;
}


.canvas-cont{
	position:absolute;
	top:0;left:0;bottom:0;right:0;
	&__drawing-canvas{
		position:absolute;
		width:100%;
		height:100%;
		z-index:10;
		left:0;
		top:0;
		cursor: crosshair;
		cursor: url(images/crosshair-pencil.png) 10 10, crosshair;
	}
}

.display-canvas{
	width:100%;
	height:100%;
}

.cursors{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	&__pointer{
		pointer-events:none;
		position:absolute;
		color:#fff;
		padding:4px 10px;
		font-size:13px;
		z-index:14;
		@include box_shadow(4);
		@include bord_rad;
		&--own{
			transform: translate(20px,20px);
		}
	}
}

.image-collection{
	position:absolute;
	width: 100%;
	height: 100%;
	&__image{
		position:absolute;
		left:0;top:0;
		width:100%;
		height:100%;
	}
}

input{
	outline: none;
	border: 1px solid #ccc;
	height:2em;
}

.alert{
	position: fixed;
	z-index: 30;
	pointer-events:none;
    top: 120px;
    height: auto;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    background: linear-gradient(-90deg, rgba(6,6,6,0.05) 6%, rgba(70,70,70,0.50) 26%, rgba(69,72,71,0.81) 42%, rgba(68,75,73,0.80) 60%, rgba(67,77,73,0.50) 75%, rgba(0,0,0,0.05) 97%);
}

.spinner{
    background: url(images/icon-pen.png) 50% -6px;
    margin-top:-16.5px;
    margin-left:-16.5px;
    width: 33px;
    height: 33px;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: 33px;
    @include spin-anim(1000ms);
}

.label{
	display:block;
	text-align: left;
	color:$grey;
	display:block;
	font-size:15px;
	&--link{
		padding-right:20px;
		margin-bottom:15px;
	}
	&--success, &--error{
		text-align:center;
		width:100%;
		color:#fff;
	}
	&--success{
		background-color: darken($bright,8%);
	}
	&--error{
		background-color: $grenadier;
	}
}

$text-submit-width: 60px;
.text{
	height:32px;
	&__input{
		height:100%;
		width: calc(100% - #{$text-submit-width});
		padding:4px 8px;
		text-align:center;
		font-size:14px;
		border-right:0;
		@include bord_rad_left;
	}
	&__submit{
		width: $text-submit-width;
		display:inline-block;
		background-color:$bright;
		height:100%;
		color:#fff;
		font-size:14px;
		vertical-align: top;
		line-height:32px;
		@include button;
		@include bord_rad_right;
		&:hover{
			background-color:darken($bright,10%);
		}
		&:active{
			background-color:lighten($bright,5%);
		}
	}
}


// whiteboard navigation
$nav-item-margin: 10px;
$nav-max-items: 6;
$nav-all-margins: $nav-item-margin * ($nav-max-items - 1);
.nav{
	margin:15px 0 20px;
	counter-reset: section;
    list-style-type: none;
    display:flex;
    &__list{
    	margin:0;
    	display:flex;
    	vertical-align: top;
    }
	&__item{
		position:relative;
		display:inline-block;
		width: calc((100% - 50px) / 6);
		background-color:#fff;
		margin-right:$nav-item-margin;
		border: 2px solid transparent;
		box-sizing: border-box;
		vertical-align: top;
		&:hover,&:active{
			border-color: lighten($lunar-green,10%);
		}
		@include button;
		&:before{
			counter-increment: section;
    		content: counters(section,".") " ";
    		//font-size:34px;
    		font-size:20px;
    		text-align:center;
    		position:absolute;
    		left:0;top:50%;right:0;
    		color:$lunar-green;
    		text-shadow: 0 0 3px #fff;
    		transform:translate(0,-50%);
		}
		&.is-active{
			border-color:$bright;
		}
		&--add {
			border:2px dashed lighten($grey,15%);
			background-color:rgba(255,255,255,0.6);
		    padding-bottom: 10.1%;
			@include bord_rad;
			&:before{
				content:"+";
				font-size:30px;
				//font-size:52px;
				line-height:106px;
			}
			&:hover,&:active{
				border-color: $lunar-green;
			}
		}
		&:last-child{
			margin-right:0;
		}
	}
	&__image{
		width:100%;
		height:100%;
	}

}