/******************************************************************
Site Name: Whiteboard-cc
Author: Rohan Milton

Stylesheet: Base Mobile Stylesheet

Mobile Styles and foundation for Whiteboard App

******************************************************************/

html,body,#whiteboard-app,#container{
	height:100%;
}

body{
	background-color: $ebb;
}