/******************************************************************
Site Name: Whiteboard-cc
Author: Rohan Milton

Stylesheet: mixins

Sass mixins intended to be used by CSS classes via @include functionality

******************************************************************/

@mixin button{
    cursor: pointer;
}

/**
 * Adds shadow to elements according to the Google Material Design spec:
 * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 *
 * Provide a level from 1-5 (5 being the highest element with the largest shadow).
 * are elevated.
 *
 */
@mixin box_shadow ($level) {
    @if $level == 1 {
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.09);
    } @else if $level == 2 {
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
    } @else if $level == 3 {
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.67);
    } @else if $level == 4 {
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.67);
    } @else if $level == 5 {
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.67);
    }

}
