/******************************************************************
Site Name: Whiteboard-cc
Author: Rohan Milton

Stylesheet: Variables

Colors are defined in this file. Also contains constants that can be
considered 'global' and are used by more than one stylesheet.

******************************************************************/

/*********************
COLORS
*********************/

// greys
$grey: #878483;
$ebb: #E9E2E2;
$spring-wood: #F6F2F0;


// greens
$green-pea: #1B5E50;
$bright: #48CAAF;
$eucalyptus: #258975;

// reds
$grenadier: #d53a07;

// yellows
$china-ivory: #fdffe4;