/******************************************************************
Site Name: Whiteboard-cc
Author: Rohan Milton

Stylesheet: Variables

Colors and other global constants are defined in this file.

******************************************************************/

/**
* COLORS
*/

// greys
$grey: #878483;
$ebb: #E9E2E2;
$spring-wood: #F6F2F0;

// greens
$green-pea: #1B5E50;
$bright: #48CAAF;
$eucalyptus: #258975;
$lunar-green: #444744; //very dark, almost black

// reds
$grenadier: #d53a07;

// yellows
$china-ivory: #fdffe4;

// blacks
$opaque-black: rgba(0, 0, 0, 0.19);
