/******************************************************************
Site Name: Whiteboard-cc
Author: Rohan Milton

Stylesheet: Variables

Colors are defined in this file. Also contains constants that can be
considered 'global' and are used by more than one stylesheet.

******************************************************************/

/*********************
COLORS
*********************/

$ebb: #E9E2E2;
$spring-wood: #F7F2F0;

