
/******************************************************************
Site Name: Whiteboard-cc
Author: Rohan Milton

Stylesheet: Main Stylesheet

******************************************************************/

/*********************
PARTIALS
*********************/

// normalize: http://necolas.github.io/normalize.css/
@import "normalize";

// Sass variables
@import "variables";

// import mixins
@import "mixins";

// import mixins
@import "_tooltip";

// // Sass functions
// @import "partials/functions";

/*********************
BASE (MOBILE PORTRAIT)
This are the mobile styles, also the foundation of the app.
*********************/

// styles in base.scss
@import "base";



/*********************
MOBILE LANDSCAPE
*********************/
@media only screen and (orientation: landscape) and (max-device-width:768px) {
	@import 'mob-landscape';
}



/*********************
TABLETS
This is a typical ipad held in 
*********************/
@media only screen and (min-width: 768px) {
	@import "768up";
}


/*********************
SMALL LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device.
*********************/
@media only screen and (min-width: 1030px) {
	@import "1030up";
}

/*********************
LARGER LAPTOPS & DESKTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device.
*********************/
@media only screen and (min-width: 1250px) {
	@import "1250up";
}


