/******************************************************************
Site Name: Whiteboard-cc
Author: Rohan Milton

Stylesheet: Desktop Screen stylesheet

These Styles should be applied to screens 1250px and above only

******************************************************************/

// toolbar links
.tool-link{
	padding-right: 14px;
	padding-left: 39px;
	span{display:block;}

	&:before{
		left:14px;
	}

	&--share{
		padding-left:42px;
		&:before{
			left: 10px;
		}
	}
}

.no-1250{
	display:none !important;
}