/******************************************************************
Site Name: Whiteboard-cc
Author: Rohan Milton

Stylesheet: Laptop & Desktop Screen stylesheet

These Styles should be applied to screens 768px and above only

******************************************************************/

html, body {
  overflow: auto;
}

$toolbar-height : 50px;
// main body (everything excluding header)
.main{
	margin-top:$toolbar-height;
	height: calc(100% - #{$toolbar-height});
	padding-top:20px;
}

.wrap{
	padding-right:10px;
	padding-left:10px;
}


// list of colors displayed as a grid
.color-palette{
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	li{
		height: 30px;
		border: 1px solid rgba(0, 0, 0, 0.19);
		border-radius: 2px;
		width: 32px;
		display: block;
		margin: 4px;
		@include button;
		&.is-active{
			@include highlight_shadow;
		}
	}
}

// menu list of actions that user can lick on
.options-list{
	li{
		font-size: 13px;
		padding: 10px 0;
		text-align: center;
		@include button
		&:hover{
			background-color:$grey;
			color:#fff;
		}
	}
}
// Whiteboard Navigation
.nav{
	&__item{
		&:before{
			font-size:34px;
		}
		&--add{
			&:before{
				font-size:52px;
			}
		}
	}
}

// Alert displayed across centre of screen
.alert{
	height: 83px;
	font-size: 37px;
    top:50%;
    transform: translateY(-50%);
}

// generic traditional-looking button
.button{
	display:inline-block;
	height: 36px;
	border: 1px solid darken($ebb,3%);
	vertical-align: top;
	margin-right: 7px;
	min-width:58px;
	padding: 8px 30px 9px 35px;
	box-sizing:border-box;
	position:relative;
	text-transform:uppercase;
	font-size:12px;
	color: $grey;
	@include button;
	@include bord_rad;
	box-sizing: border-box;
	span{
		display:none;
	}

	// background image is assigned to pseudo element to its opacity can be controlled
	&:before{
		@include icon-image;
	}

	// undo button
	&--undo:before{
		background-image: url('images/icon-arrow-round.png');
	}

	// select list button
	&--select{
		padding-top: 0;
		//padding-right: 45px;
		padding-right: 78px;
		padding-left:0;

		// text span inside select list
		&__text{
			padding: 8px 0 9px 33px;
			display:block;
			&:before{
				@include icon-image;
			}

			//clear my sketches button
			&--clear{
				&:before{
					background-image: url('images/icon-cross.png');
				}
				&:hover:before{
					@extend .button:hover:before
				}
			}
		}

		// expand button on right of select list
		&__arrow,
		&__toggle{
			width: 44px;
			height: 100%;
		}
		&__arrow{
			position: absolute;
			top: 0;
			right: 0;
			background-color:$ebb;
		}
		&__toggle{
			position: relative;
			top: 50%;
			transform: translate(0, -50%);
			height: 100%;
			display: inline-block;
			opacity: 0.63;
			background: url('images/icon-arrow-down.png') 50% 50% no-repeat;
			&:hover{
				background-color:darken($ebb,7%);
				opacity:1;
			}
		}
	}
	
	// hover on generic button
	&:hover{
		border-color: $grey;
		color: darken($grey,25%);
		&:before {
			opacity:0.7;
		}
	}

}

// tool-link is similar to button, but is full height.
.tool-link{
	color:$grey;
	padding: 16px 20px 0 45px;
	border-left:1px solid darken($ebb,2%);
	border-top:none;
	border-bottom:none;
	font-size:14px;
	display:inline-block;
	@include button;
	height:100%;
	position:relative;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.3px;
    span{display:none;}
	&:hover{
		background-color: darken($spring-wood,5%);
		color:darken($grey,15%);
		&:before{
			opacity:0.9;
		}
	}

	// background image is assigned to pseudo element to its opacity can be controlled
	&:before{
		@include icon-image;
	}

	// change url toolbar item
	&--url-change:before{
		background-image: url('images/icon-chain.png');
	}

	// change name toolbar item
	&--name:before{
		background-image: url('images/icon-person.png');
	}

	// invite/share toolbar item
	&--share{
		background-color:lighten($bright,10%);
		color:#fff;
		padding-left:47px;
		border-left:none;
		&:hover{
			background-color:darken($bright,5%);
			color:#fff;
		}
		&:before{
			background-image: url('images/icon-share.png');
			opacity: 0.9;
			height:27px;
			//left: 10px;
			width: 29px;
			top: 11px;
		}
	}
}


/*
* Header Toolbar Block
*
* Toolbar containing shapes, buttons and actions for the user.
*/
// Header
.toolbar{
	position:fixed;
	z-index:15;
	top:0;
	left:0;
	right:0;
	display:block;
	text-align: center;
	height: $toolbar-height;
	background-color: $spring-wood;
	@include box-shadow(2);

	// section for buttons
	&__controls{
		position:absolute;
		left:0;
		padding: 7px 0 0 10px;
	}

	// section for links
	&__share{
		position:absolute;
		right:0;
		top:0;
		height:100%;
	}

}

/*
* Shape Palette Block
*
* Palette of possible shapes (tools) such as pen, line, rectangle etc.
*/
.tool-list{ 
	height:100%;
	display:inline-block;
	margin:0;
	background-color:#FAF8F7;
	
	// shape item
	&__item{
		@include button;
		display:inline-block;
		width:70px;
		height:100%;
		background-repeat:no-repeat;
		background-position:50% 0px;
		opacity:0.5;
		background-size:33px;
		&--pen{
			background-image: url('/images/icon-pen.png');
		}
		&--line{
			background-image: url('/images/icon-line.png');
		}
		&--rect{
			background-image: url('/images/icon-rect.png');
		}
		&--text{
			background-image: url('/images/icon-text.png');
		}

		&:hover:not(.is-active){
			opacity:0.8;
		}

		/**
		* We can highlight a button simply by changing background position. This is because the background image
		* is actually two images, stacked vertically and twice the size of the element.
		*/
		&.is-active{
			background-position:50% -50px;
			opacity:1;
			border-bottom: 2px solid lighten($green-pea,30%);
		}
	}
}

/*
* Dropdown Block
*
* Generic dropdown element, displays when clicked on links in the toolbar
*/
//container
.dropdown{
	display: inline-block;
	position: relative;
	height: 100%;
	&:focus{
		outline: none;
	}

	// toggle button that triggers dropdown
	&__toggle{
		height: 100%;
	}

	// the actual dropdown
	&__card{
		position: absolute;
		background-color: $spring-wood;
		padding: 13px;
		box-sizing: border-box;
		z-index:2;
		top: $toolbar-height + 8px;
		@include box_shadow(3);
	}

	// X button on top right that closes dropdown
	&__btnClose {
		position: absolute;
		right: 8px;
		top: 6px;
		color: $grey;
		cursor: pointer;
		&:hover{
			color: $grenadier;
		}
		@include button;
	}

	// when dropdown is open
	&.is-active{

		//small triangle that appears as pertruding from dropdown card
		.dropdown__toggle:before{
			content:"";
			display:block;
			position:absolute;
			left:50%;
			width:10px;
			height:10px;
			top: $toolbar-height;
			z-index:3;
			transform: translate(-5px,0);
			@include triangle(top,$spring-wood,8px);
		}
	}
}



/**
* Message Box Block
*
* Generic messages that are displayed in green or red. Can be used
* for notifications or for input validation.
*/
.msg-box{
	padding-top: 8px;
	position: absolute;
	width: 100%;
	right: 50%;
    transform: translate(50%,0);
	top: calc(100% - 12px);
	min-width:200px;

	// notification message box
	&--notif{
		top:100%;
		.msg-box__text{
			@include bord_rad;
		}
	}

	// text message element
	&__text{
		word-wrap:break-word;
		text-transform: none;
		text-align: center;
		display:block;
		width: 100%;
		color: #fff;
		padding:4px;
		font-size:14px;
		position:relative;
		@include bord_rad_bottom;

		//success message
		&--success{
			background-color: darken($bright,8%);
			&:before{
				content:"";
				position:absolute;
				top:-7px;
				right:50%;
				@include triangle(top,darken($bright,8%),8px);
			}
		}

		//error message
		&--error{
			background-color: lighten($grenadier,25%);
			&:before{
				content:"";
				position:absolute;
				top:-7px;
				right:50%;
				@include triangle(top,lighten($grenadier,25%),8px);
			}
		}
	}
}

/**
* Canvas Container Block
*
* Contains both large drawing and display canvases in centre of page
*/
.canvas-cont{
	// canvas used to draw new shapes
	&__drawing-canvas{
		cursor:crosshair;
		&--pen{
			cursor: url(images/crosshair-pen.png) 10 22, crosshair;
		}
		&--line{
			cursor: url(images/crosshair-line.png) 10 22, crosshair;
		}
		&--rect{
			cursor: url(images/crosshair-rect.png) 10 22, crosshair;
		}
	}
}

